:root{
    --container_bg: rgb(31, 96, 118);
    --body_bg: rgb(92, 141, 225);
    --scr_bg: lightgrey;
    --scr_clr: rgb(56, 56, 56);
}

html, body{
    height: 100%;
    font-size: 10px;
    background-color: var(--body_bg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--container_bg);
    align-items: center;
    justify-content: flex-end;
}

.sub-cont:last-of-type{
    margin-bottom: 2rem;
}

#screen{
    height: 50px;
    width: 90%;
    margin-bottom: 50px;
    background-color: var(--scr_bg);
    font-size: 4vw;
    color: var(--scr_clr);
    text-align: right;
    border: 1px solid black;
    overflow: auto;

}

button{
    font-size: 15px;
    height: 45px;
    width: 55px;
    border-radius: 4px;
    margin: 3px;
}
button:active{
    background-color: var(--scr_bg);
}

#resultado{
    width: 115px;
}


